
<section class="body_warpper allcampai_page">
    <app-navbar></app-navbar>
    <!----start All Campaigns sec-->
    <div class="all_sec home_allcam_sec campainage_page_parent">
        <div class="conta_iner">
            <div class="home_campaingns_title">
                <h3 class="web_title">How We Works</h3>
            </div>

            <div class="how_we_work">
                <div class="how_we_inner">
                    <h3>How it works in 3 Steps</h3>
                    <p>Simply Buy Our Products and get chance to win luxury Prizes</p>
                    <figure><img src="assets/images/image1.png" class="hoe_We_Add"></figure>
                </div>


                <div class="how_we_inner">
                    <div class="point_name">
                        <a>1</a>
                        </div>
                    <h3>Shop From Our Products</h3>
                    <p>Lorem Ipsum Dolor Sit Amet, Consectetur Adipiscing Elit.</p>
                    <figure><img src="assets/images/image2.png"></figure>
                </div>
                <div class="how_we_inner">
                    <div class="point_name">
                        <a>2</a>
                        </div>
                    <h3>Get Complimentary Tickets to Enter the draw</h3>
                    <p>Lorem Ipsum Dolor Sit Amet, Consectetur Adipiscing Elit.</p>
                    <figure><img src="assets/images/image3.png"></figure>
                </div>
                <div class="how_we_inner">
                    <div class="point_name">
                        <a>3</a>
                        </div>
                    <h3>Win Luxury Prize</h3>
                    <p>Lorem Ipsum Dolor Sit Amet, Consectetur Adipiscing Elit.</p>
                    <figure><img src="assets/images/image4.png"></figure>
                </div>

                
            </div>

        





            </div>
            </div>


    <!----start footer sec-->
    <app-footer></app-footer>
</section>


