.call_us_now{margin: 0 0 3px;}
.footer_address.footer_comman {
    padding-right: 80px;
    width: 30%;
}
.footer_address.footer_comman ul li:first-child{margin-bottom: 30px;}
.footer_campaign.footer_comman {
    width: 15%;
}
.footer_comman.store_link img {
    margin-bottom: 15px;
}

.download_our_app a {
    background: #FCB83F;
    padding: 12px 15px;
    border-radius: 4px;
    color: #fff;
    font-weight: 700;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);

}
.download_our_app {
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 30px;
}
.footer_comman.store_link {
    text-align: center;
}
.footer_comman.store_link img {
    max-width: 155px;
}
.footer_bottom_sec {
    width: 100%;display: inline-block;vertical-align: middle;
   
}
.footer_social.footer_comman h2 {
    margin: 0 0 15px;
    font-size: 20px;
    font-weight: bold;
}
.footer_copy_right a{color: #000000;}
.footer_copy_right { display: flex;
    justify-content: space-between;}
    .footer_social.footer_comman li {
        display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
    padding: 3px 7px;
    margin-bottom: 17px;
    border-radius: 24px;
    padding: 7px;
    background: #EAEAEA;
    
}