<div class="footer_top_sec">
    <div class="conta_iner">
        <!-- <div class="trusted_product_sec">
            <ul>
                <li>
                    <h3>We’re Always Here To Help</h3>
                    <p class="footer_top_main">Reach out to us through any of these support channels</p>
                </li>
                <li>
                    <div class="trusted_pro_icon">
                        <figure>
                            <img src="../../../assets/images/home/truck_icon.png" alt="">
                        </figure>
                    </div>
                    <div class="trusted_pro_disc">
                        <p>TRUSTED SHIPPING </p>
                        <span>Free shipping when you spend 100 AED and above</span>
                    </div>
                </li>
                <li>
                    <div class="trusted_pro_icon">
                        <figure>
                            <img src="../../../assets/images/footer/003-exchange.png" alt="">
                        </figure>
                    </div>
                    <div class="trusted_pro_disc">
                        <p>EASY RETURNS </p>
                        <span>Free returns on eligible items so you can shop with ease</span>
                    </div>
                </li>
                <li>
                    <div class="trusted_pro_icon">
                        <figure>
                            <img src="../../../assets/images/footer/surface1.png" alt="">
                        </figure>
                    </div>
                    <div class="trusted_pro_disc">
                        <p>SECURE SHOPPING</p>
                        <span>Free returns on eligible items so you can shop with ease</span>
                    </div>
                </li>
            </ul>
        </div> -->
    </div>
</div>
<div class="footer_sec">
    <div class="conta_iner">
        <div class="footer_sec_list">
             <!-----footer campaign sec-->
             <div class="footer_address footer_comman">
                <div class="footer_com_logo">
                    <svg xmlns="http://www.w3.org/2000/svg" width="169.388" height="53.348"
                        viewBox="0 0 169.388 53.348">
                        <g id="Group_2438" data-name="Group 2438" transform="translate(-80 -49)">
                            <g id="Group_621" data-name="Group 621" transform="translate(80 49)">
                                <path id="Path_1429" data-name="Path 1429"
                                    d="M6356.94,6576.379h10.7a2,2,0,0,1,1.646,1.247c.584,1.728.531,2.039-.012,4.342-1.318,5.588-5.642,12.443-5.642,12.443h-15.271a2.735,2.735,0,0,0-1.356,1.252,4.928,4.928,0,0,0-.192,2.227h20.087s5.747-5.641,7.487-17.4c.485-3.269-.66-5.737-2.636-7.118-3.744-2.953-14.816-1.6-14.816-1.6a4.273,4.273,0,0,0-1.193,2.371A3.7,3.7,0,0,0,6356.94,6576.379Z"
                                    transform="translate(-6342.25 -6553.162)" fill="#fcb83f" />
                                <rect id="Rectangle_180" data-name="Rectangle 180" width="5.419" height="16.645"
                                    rx="2.71" transform="translate(5.032 18.588) rotate(-21)" fill="#fcb83f" />
                                <rect id="Rectangle_182" data-name="Rectangle 182" width="5.419" height="16.645"
                                    rx="2.71" transform="translate(8.129 1.942) rotate(-21)" fill="#fcb83f" />
                                <rect id="Rectangle_183" data-name="Rectangle 183" width="5.419" height="16.646"
                                    rx="2.71" transform="translate(24.028 17.482) rotate(-159)" fill="#fcb83f" />
                                <rect id="Rectangle_181" data-name="Rectangle 181" width="5.419" height="11.226"
                                    rx="2.71" transform="translate(0 23.62) rotate(-21)" fill="#fcb83f" />
                                <circle id="Ellipse_25" data-name="Ellipse 25" cx="3.677" cy="3.677" r="3.677"
                                    transform="translate(1.422 45.993)" />
                                <circle id="Ellipse_26" data-name="Ellipse 26" cx="3.677" cy="3.677" r="3.677"
                                    transform="translate(22.712 45.993)" />
                            </g>
                            <text id="Windealz" transform="translate(115.388 88.263)" font-size="26"
                                font-family="Montserrat-ExtraBoldItalic, Montserrat" font-weight="800"
                                font-style="italic">
                                <tspan x="0" y="0">Windealz</tspan>
                            </text>
                        </g>
                    </svg>
                </div>
                <ul>
                    <li>
                        <div class="address_icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="13.304" height="18.367"
                                viewBox="0 0 13.304 18.367">
                                <g id="Group_2366" data-name="Group 2366" transform="translate(0)">
                                    <path id="Path_3155" data-name="Path 3155"
                                        d="M77.225,0a6.659,6.659,0,0,0-6.652,6.652c0,4.552,5.953,11.234,6.206,11.517a.6.6,0,0,0,.891,0c.253-.282,6.206-6.965,6.206-11.517A6.659,6.659,0,0,0,77.225,0Zm0,10a3.347,3.347,0,1,1,3.347-3.347A3.35,3.35,0,0,1,77.225,10Z"
                                        transform="translate(-70.573 0)" fill="#eaeaea" />
                                </g>
                            </svg>
                        </div>
                        <div class="address_text">
                            <p>Cecilia Chapman 711-2880 Nulla St. Mankato Mississippi </p>
                            <span>Sun - Thurs: 9am - 6pm GST</span>
                        </div>
                    </li>
                    <li class="call_us_now">
                        <div class="address_icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="17.251" height="17.251"
                                viewBox="0 0 17.251 17.251">
                                <g id="_001-call" data-name="001-call" transform="translate(0 25.828)">
                                    <g id="Group_2357" data-name="Group 2357" transform="translate(0 -25.828)">
                                        <path id="Path_3150" data-name="Path 3150"
                                            d="M15.867,11.323a9.794,9.794,0,0,1-3.076-.49,1.406,1.406,0,0,0-1.367.288l-1.94,1.464a10.72,10.72,0,0,1-4.82-4.819L6.085,5.878a1.394,1.394,0,0,0,.343-1.413,9.81,9.81,0,0,1-.492-3.081A1.386,1.386,0,0,0,4.552,0H1.384A1.386,1.386,0,0,0,0,1.384,15.885,15.885,0,0,0,15.867,17.251a1.386,1.386,0,0,0,1.384-1.384V12.708A1.386,1.386,0,0,0,15.867,11.323Z"
                                            fill="#eaeaea" />
                                    </g>
                                </g>
                            </svg>
                        </div>
                        <div class="address_text">
                            <label>Call us now</label>
                            <p>800-433-259 </p>

                        </div>
                    </li>
                    <li>
                        <div class="address_icon">
                            <svg id="_002-email" data-name="002-email" xmlns="http://www.w3.org/2000/svg" width="16.579"
                                height="12.628" viewBox="0 0 16.579 12.628">
                                <g id="Group_2359" data-name="Group 2359" transform="translate(0.833 0)">
                                    <g id="Group_2358" data-name="Group 2358">
                                        <path id="Path_3151" data-name="Path 3151"
                                            d="M40.01,61H26.345a1.44,1.44,0,0,0-.624.146l7.424,7.424,1.664-1.6h0l5.825-5.825A1.44,1.44,0,0,0,40.01,61Z"
                                            transform="translate(-25.721 -61)" fill="#eaeaea" />
                                    </g>
                                </g>
                                <g id="Group_2361" data-name="Group 2361" transform="translate(10.952 0.833)">
                                    <g id="Group_2360" data-name="Group 2360">
                                        <path id="Path_3152" data-name="Path 3152"
                                            d="M343.695,86.728l-5.482,5.481,5.481,5.481a1.44,1.44,0,0,0,.146-.624V87.352A1.44,1.44,0,0,0,343.695,86.728Z"
                                            transform="translate(-338.213 -86.728)" fill="#eaeaea" />
                                    </g>
                                </g>
                                <g id="Group_2363" data-name="Group 2363" transform="translate(0 0.833)">
                                    <g id="Group_2362" data-name="Group 2362">
                                        <path id="Path_3153" data-name="Path 3153"
                                            d="M.146,86.721A1.44,1.44,0,0,0,0,87.345V97.06a1.441,1.441,0,0,0,.146.624L5.627,92.2Z"
                                            transform="translate(0 -86.721)" fill="#eaeaea" />
                                    </g>
                                </g>
                                <g id="Group_2365" data-name="Group 2365" transform="translate(0.833 7.001)">
                                    <g id="Group_2364" data-name="Group 2364">
                                        <path id="Path_3154" data-name="Path 3154"
                                            d="M35.146,277.211l-1.664,1.6a.485.485,0,0,1-.687,0l-1.6-1.6-5.482,5.481a1.44,1.44,0,0,0,.624.146H40a1.44,1.44,0,0,0,.624-.146Z"
                                            transform="translate(-25.714 -277.211)" fill="#eaeaea" />
                                    </g>
                                </g>
                            </svg>
                        </div>
                        <div class="address_text">
                            <label>Write Us an Email</label>
                            <p>support@Windeals.com</p>

                        </div>
                    </li>
                   
                </ul>
            </div>
              <!-----footer about sec-->
              <div class="footer_campaign footer_comman">
                <!-- <h3 class="footer_title">Quick Links</h3> -->
                <ul>
                  
                    <li> <a (click)="goTowhoweare()"> Who we are  </a></li>
                    <li> <a (click)="goTohowwework()"> How We Work </a></li>
                    <li> <a> Wdealz </a></li>
                    <li> <a> Products </a></li>
                    <li> <a (click)="goToallcampaigns()"> Deals </a></li>
                    
                </ul>
            </div>
            <!-----footer campaign sec-->
            <!-----footer campaign sec-->
            <div class="footer_about footer_comman">
                <!-- <h3 class="footer_title">Quick Links</h3> -->
                <ul>
                    <li><a (click)="goToaboutus()">About Us</a></li>
                    <li> <a (click)="goTocontactus()"> Contact Us </a></li>
                    <li> <a (click)="goTofaq()"> FAQ </a></li>
                    <li> <a (click)="goTotermscondition()">Terms &amp; Conditions </a></li>
                </ul>
            </div>
          
            <div class="footer_social footer_comman">
                <h2>Follow Us</h2>
                <ul>
                    <li><a><figure><img src="assets/images/fb.png"></figure></a></li>
                    <li><a><figure><img src="assets/images/insta.png"></figure></a></li>
                    <li><a><figure><img src="assets/images/youtube.png"></figure></a></li>
                    <li><a><figure><img src="assets/images/linkdin.png"></figure></a></li>
                    <li><a><figure><img src="assets/images/whatsapp.png"></figure></a></li>
                </ul>
            </div>

            <div class="footer_comman store_link">
                <div class="download_our_app">
                    <a href="">Download Our App Now</a>
                </div>
                <img src="assets/images/home/playstore.png" alt="">
                <img src="assets/images/home/applestore.png" alt="">
            </div>
           
        </div>
    </div>
</div>
<div class="footer_bottom_sec">
    <div class="conta_iner">
        <div class="footer_copy_right">
    <p>Windealz © 2020. <a (click)="goToprivacypolicy()"> Privacy Policy </a></p>
    <p>All rights reserved</p>
</div>
</div>
</div>