<section class="body_warpper allcampai_page">
    <app-navbar></app-navbar>
    <!----start All Campaigns sec-->
    <div class="all_sec home_allcam_sec campainage_page_parent">
        <div class="conta_iner">
            <div class="home_campaingns_title">
                <h3 class="web_title">Frequently asked questions</h3>
            </div>
            <div class="about_us_inner">
                <div class="about_us_comman">
                    <!-- <h4>About Us</h4> -->
                    <div class="about_us_comman_inner">
                        <div class="left_about">
                            <!-- <h4>What Is Windealz?</h4> -->
                            <p *ngIf="faq" [innerHTML]="faq"></p> <br>


                        </div>
                        <!-- <div class="right_About">
        <h4>I’m new to Windealz, how does it work?</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
             sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div> -->
                        <!-- </div> -->
                        <!-- <div class="about_us_comman_inner">
    <div class="left_about">
        <h4>How can I access Windealz.com?</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
             sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

    </div>
    <div class="right_About">
        <h4>Is Windealz available on Android and IOS?</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
             sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
</div> -->
                        <!-- <div class="about_us_comman_inner">
    <div class="left_about">
        <h4>How to find us?</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
             sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

    </div>
    <div class="right_About">
        <h4>What countries does Windealz operate in?</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
             sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div> -->
                    </div>
                </div>

                <!-- 

<div class="about_us_comman">
    <h4>Account</h4>
    <div class="about_us_comman_inner">
    <div class="left_about">
        <h4>Why should I register an account with Windealz?</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
             sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

    </div>
    <div class="right_About">
        <h4>How do I set up my Windealz account?</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
             sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
</div>
<div class="about_us_comman_inner">
    <div class="left_about">
        <h4>How do I edit my Windealz account?</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
             sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

    </div>
    <div class="right_About">
        <h4>Can I use someone else’s credit card in my Windealz account to complete a purchase?</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
             sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
</div>
<div class="about_us_comman_inner">
    <div class="left_about">
        <h4>How do I ‘Logout’ of my Windealz account?</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
             sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

    </div>
    <div class="right_About">
        <h4>Will I receive ‘push notifications’ if I ‘Logout’?</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
             sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
</div>
<div class="about_us_comman_inner">
    <div class="left_about">
        <h4>I can’t remember my Windealz account password!</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
             sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

    </div>
    <div class="right_About">
        <h4>I want to change my password!</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
             sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
</div>
<div class="about_us_comman_inner">
    <div class="left_about">
        <h4>What Credit Cards does Windealz accept?</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
             sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

    </div>
    <div class="right_About">
        <h4>How do I close my Windealz account?</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
             sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
</div>
<div class="about_us_comman_inner">
    <div class="left_about">
        <h4>Why am I receiving ‘push notifications’/emails from Windealz?</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
             sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

    </div>
    <div class="right_About">
    </div>

</div>
</div>


<div class="about_us_comman">
    <h4>Deals</h4>
    <div class="about_us_comman_inner">
    <div class="left_about">
        <h4>How frequently do new Windealz campaigns emerge?</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
             sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

    </div>
    <div class="right_About">
        <h4>Will the product/prize categories expand?</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
             sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
</div>
</div>

<div class="about_us_comman">
    <h4>Making a Purchase</h4>
    <div class="about_us_comman_inner">
    <div class="left_about">
        <h4>Are there any hidden charges I should be aware of?</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
             sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

    </div>
    <div class="right_About">
        <h4>Will I be charged VAT?</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
             sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
</div>
<div class="about_us_comman_inner">
    <div class="left_about">
        <h4>What currencies can I use to purchase an Windealz product?</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
             sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

    </div>
    <div class="right_About">
        <h4>Can I cancel/refund an Windealz purchase order?</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
             sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
</div>
<div class="about_us_comman_inner">
    <div class="left_about">
        <h4>Can I pay in installments?</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
             sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

    </div>
    <div class="right_About">
    </div>
</div>
</div>

<div class="about_us_comman">
    <h4>Windealz Products</h4>
    <div class="about_us_comman_inner">
    <div class="left_about">
        <h4>Where can I collect my Windealz products?</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
             sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

    </div>
    <div class="right_About">
        <h4>Can I send someone else to collect my Windealz products?</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
             sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
</div>
</div>



<div class="about_us_comman">
    <h4>i-Points</h4>
    <div class="about_us_comman_inner">
    <div class="left_about">
        <h4>What are i-Points?</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
             sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

    </div>
    <div class="right_About">
        <h4>How can I earn more i-Points?</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
             sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
</div>
<div class="about_us_comman_inner">
    <div class="left_about">
        <h4>Can I transfer i-Points?</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
             sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

    </div>
    <div class="right_About">
        <h4>Can I combine i-Points with cash?</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
             sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
</div>
<div class="about_us_comman_inner">
    <div class="left_about">
        <h4>Can I purchase i-Points?</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
             sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

    </div>
    <div class="right_About">
        
    </div>
</div>
</div>


<div class="about_us_comman">
    <h4>Levels</h4>
    <div class="about_us_comman_inner">
    <div class="left_about">
        <h4>What are the membership levels?</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
             sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

    </div>
    <div class="right_About">
        <h4>What are the benefits of membership levels?</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
             sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
</div>
<div class="about_us_comman_inner">
    <div class="left_about">
        <h4>How many levels do you have?</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
             sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

    </div>
    <div class="right_About">
        <h4>How can I get promoted to a higher level?</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
             sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
</div>
<div class="about_us_comman_inner">
    <div class="left_about">
        <h4>How do I maintain my level status?</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
             sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

    </div>
    <div class="right_About">
        
    </div>
</div>
</div>



<div class="about_us_comman">
    <h4>Refer a Friend</h4>
    <div class="about_us_comman_inner">
    <div class="left_about">
        <h4>What is the refer a friend programme?</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
             sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

    </div>
    <div class="right_About">
        <h4>I was referred by a friend, will I be rewarded by the refer a friend programme?</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
             sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
</div>
</div>


<div class="about_us_comman">
    <h4>Windealz Prizes</h4>
    <div class="about_us_comman_inner">
    <div class="left_about">
        <h4>Where can I collect my Windealz prize?</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
             sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

    </div>
    <div class="right_About">
        <h4>Can I send someone else to collect my Prize?</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
             sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
</div>
<div class="about_us_comman_inner">
    <div class="left_about">
        <h4>What if I don’t want people to know I’ve won the Windealz prize draw?</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
             sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

    </div>
    <div class="right_About">
        <h4>Can I view past winners of the Windealz campaign draws?</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
             sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
</div>
<div class="about_us_comman_inner">
    <div class="left_about">
        <h4>How will I be notified about the status of the campaign: 'Coming Soon'/'Launched'/'Ending'/'Closed'.?</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
             sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

    </div>
    <div class="right_About">
        
    </div>
</div>
</div>


<div class="about_us_comman">
    <h4>Donating</h4>
    <div class="about_us_comman_inner">
    <div class="left_about">
        <h4>What is a ‘double entry’?</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
             sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

    </div>
    <div class="right_About">
        <h4>How do I know my Windealz  products are going to charity?</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
             sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
</div>
</div>



<div class="about_us_comman">
    <h4>Security</h4>
    <div class="about_us_comman_inner">
    <div class="left_about">
        <h4>Are my personal details secure with Windealz?</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
             sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

    </div>
    <div class="right_About">
        <h4>Will I be spammed by Windealz?</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
             sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
</div>
</div>

<div class="about_us_comman">
    <h4>Inquiries</h4>
    <div class="about_us_comman_inner">
    <div class="left_about">
        <h4>Careers</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
             sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

    </div>
    <div class="right_About">
        <h4>Need to ask us something?</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
             sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
</div>
</div> -->


            </div>


        </div>
    </div>
    <!----start footer sec-->
    <app-footer></app-footer>
</section>