.term_inner {
    width: 100%;
    margin-top:40px;
    padding: 20px 40px 40px 40px;
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
}
    

.term_inner p{padding-top: 20px;font-size: 15px;}
.condition_list ol li{list-style: inherit;padding-top: 25px;font-size: 15px;padding-left: 25px;}
.condition_list {
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    padding-left: 35px;
}
.condition_list ol li:first-child{padding-top: 40px;}