<div class="login_wrap">
    <div class="conta_iner">
        <div class="login_main">
            <div class="login_logo_img">
                <svg xmlns="http://www.w3.org/2000/svg" width="292.576" height="92.828" viewBox="0 0 292.576 92.828">
                    <g id="Group_2401" data-name="Group 2401" transform="translate(-80 -49)">
                        <g id="Group_621" data-name="Group 621" transform="translate(80 49)">
                            <path id="Path_1429" data-name="Path 1429"
                                d="M6364.468,6580.016h18.625a3.486,3.486,0,0,1,2.865,2.169c1.018,3.007.924,3.549-.021,7.556-2.294,9.725-9.817,21.651-9.817,21.651h-26.57a4.755,4.755,0,0,0-2.359,2.18,8.571,8.571,0,0,0-.334,3.875h34.951s10-9.816,13.027-30.275c.844-5.687-1.147-9.981-4.586-12.385-6.515-5.138-25.78-2.784-25.78-2.784s-2.076,2.124-2.076,4.126S6364.468,6580.016,6364.468,6580.016Z"
                                transform="translate(-6338.906 -6539.617)" fill="#fff" />
                            <rect id="Rectangle_180" data-name="Rectangle 180" width="9.43" height="28.964" rx="4.715"
                                transform="translate(8.756 32.343) rotate(-21)" fill="#fff" />
                            <rect id="Rectangle_182" data-name="Rectangle 182" width="9.43" height="28.964" rx="4.715"
                                transform="translate(14.145 3.38) rotate(-21)" fill="#fff" />
                            <rect id="Rectangle_183" data-name="Rectangle 183" width="9.43" height="28.964" rx="4.715"
                                transform="translate(41.809 30.419) rotate(-159)" fill="#fff" />
                            <rect id="Rectangle_181" data-name="Rectangle 181" width="9.43" height="19.534" rx="4.715"
                                transform="translate(0 41.099) rotate(-21)" fill="#fff" />
                            <circle id="Ellipse_25" data-name="Ellipse 25" cx="6.399" cy="6.399" r="6.399"
                                transform="translate(2.474 80.03)" />
                            <circle id="Ellipse_26" data-name="Ellipse 26" cx="6.399" cy="6.399" r="6.399"
                                transform="translate(39.52 80.03)" />
                        </g>
                        <text id="Windealz" transform="translate(141.576 117.817)" font-size="45"
                            font-family="Montserrat-ExtraBoldItalic, Montserrat" font-weight="800" font-style="italic">
                            <tspan x="0" y="0">Windealz</tspan>
                        </text>
                    </g>
                </svg>
            </div>
            <form name="form" #f="ngForm" (ngSubmit)="f.form.valid && onSubmit(f)">

                <div class="login_form otp_name">
                    <h3>Lets Verify Your number</h3>
                    <p>Enter the 4 - digit code sent to you at
                        {{phone}}</p>
                        <p>{{timeLeft}} sec</p>

                    <div class="otp_outer">
                        <ng-otp-input (onInputChange)="onOtpChange($event)"  [config]="{length:4 , allowNumbersOnly:'true'}"  ></ng-otp-input>
                    </div>
                    <div class="validation_logins" *ngIf="f.submitted && code.invalid">
                        <div *ngIf="code.errors.required " class="alert alert-danger"> Enter your  OTP </div>
                      </div>
                    <div  *ngIf="timeLeft != 0" class="verify_button">
                        <button [disabled]="!f.form.valid" type="submit" mat-button>Verify</button>
                    </div>
                   <p class="text_center">If you don’t receive the code in 60 seconds
                        tap bellow to resend it</p>
                        <div *ngIf="timeLeft==0" class="verify_button">
                            <button  type="submit"  mat-button (click)="reset()">Resend Otp</button>
                          </div>
                </div>
                </form>

        </div>
    </div>
</div>