span.country_image {
    width: 5%;
    padding: 0px 14px;
    position: relative;
    top: -1px;
}
.country_code {
    display: flex;
    align-items: center;
    justify-content: center;
}
.country_image img{width: auto;}
.country_feild{width: 95%;}
.or_section{padding-bottom: 15px;}
.country_code_common {
    border: 1px solid #ECECEC;

    border-radius: 50px;
    margin-bottom: 15px;
}