<div class="login_wrap forget_password">
    <div class="conta_iner">
        <div class="login_main">
            <div class="login_logo_img">
                <svg xmlns="http://www.w3.org/2000/svg" width="292.576" height="92.828" viewBox="0 0 292.576 92.828">
                    <g id="Group_2401" data-name="Group 2401" transform="translate(-80 -49)">
                        <g id="Group_621" data-name="Group 621" transform="translate(80 49)">
                            <path id="Path_1429" data-name="Path 1429"
                                d="M6364.468,6580.016h18.625a3.486,3.486,0,0,1,2.865,2.169c1.018,3.007.924,3.549-.021,7.556-2.294,9.725-9.817,21.651-9.817,21.651h-26.57a4.755,4.755,0,0,0-2.359,2.18,8.571,8.571,0,0,0-.334,3.875h34.951s10-9.816,13.027-30.275c.844-5.687-1.147-9.981-4.586-12.385-6.515-5.138-25.78-2.784-25.78-2.784s-2.076,2.124-2.076,4.126S6364.468,6580.016,6364.468,6580.016Z"
                                transform="translate(-6338.906 -6539.617)" fill="#fff" />
                            <rect id="Rectangle_180" data-name="Rectangle 180" width="9.43" height="28.964" rx="4.715"
                                transform="translate(8.756 32.343) rotate(-21)" fill="#fff" />
                            <rect id="Rectangle_182" data-name="Rectangle 182" width="9.43" height="28.964" rx="4.715"
                                transform="translate(14.145 3.38) rotate(-21)" fill="#fff" />
                            <rect id="Rectangle_183" data-name="Rectangle 183" width="9.43" height="28.964" rx="4.715"
                                transform="translate(41.809 30.419) rotate(-159)" fill="#fff" />
                            <rect id="Rectangle_181" data-name="Rectangle 181" width="9.43" height="19.534" rx="4.715"
                                transform="translate(0 41.099) rotate(-21)" fill="#fff" />
                            <circle id="Ellipse_25" data-name="Ellipse 25" cx="6.399" cy="6.399" r="6.399"
                                transform="translate(2.474 80.03)" />
                            <circle id="Ellipse_26" data-name="Ellipse 26" cx="6.399" cy="6.399" r="6.399"
                                transform="translate(39.52 80.03)" />
                        </g>
                        <text id="Windealz" transform="translate(141.576 117.817)" font-size="45"
                            font-family="Montserrat-ExtraBoldItalic, Montserrat" font-weight="800" font-style="italic">
                            <tspan x="0" y="0">Windealz</tspan>
                        </text>
                    </g>
                </svg>

            </div>
            <div class="login_form">
                <div class="verification_left">
                    <h4>Forget Password</h4>
                    <form class="forget_input" name="form" #f="ngForm" (ngSubmit)="f.form.valid  && onSubmit(f)">
                        <div class="country_code_common">
                            <div class="ngx-select_countrycode" *ngIf="countryCode && countryCode.length>0" >
                                    <ngx-select-dropdown  (change)="selectionChanged($event)"  name="country_code"  [(ngModel)]="country_code" [config]="config" [options]="countryCode" required></ngx-select-dropdown>
                                    <div class="validation_logins" *ngIf="f.submitted && countryCode.invalid">
                                        <div *ngIf="countryCode.errors.required " class="alert alert-danger"> Enter your
                                            Country Code </div>
                                </div>
                            </div>
                        <div class="form-group">
                            <div class="country_code">
                                <div class="country_feild">
                            <mat-form-field [floatLabel]="'never'">
                                <input matInput type="text" placeholder="Phone number" 
                                 [(ngModel)]="number" name="number"
                                placeholder="Phone Number" minlength="7" maxlength="15" appNumberOnly #Phone="ngModel">
                            </mat-form-field>
                            <div class="validation_logins" *ngIf="f.submitted && Phone.invalid">
                                <div *ngIf="Phone.errors.minlength" class="alert alert-danger">Phone Number must be at least 7 characters long.
                                </div>
                                <div *ngIf="Phone.errors.maxlength" class="alert alert-danger">Phone Number can be max 15 characters long.
                                    a valid email address</div>
                                </div>
                            </div>
                        </div>
                        </div>
                        </div>

                        <p class="or_section">OR</p>
                        <div class="form-group">
                            <mat-form-field [floatLabel]="'never'">
                                <input matInput type="text" placeholder="Enter Email"[(ngModel)]="email" name="email"
                                 placeholder="Email "
                                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" #Email="ngModel">
                            </mat-form-field>
                            <div class="validation_logins" *ngIf="f.submitted && Email.invalid">
                                <div *ngIf="Email.errors.pattern" class="alert alert-danger">Email must be
                                    a valid email address</div>
                            </div>
                        </div>
                        <div class="verification_left"><button  type="submit">Send Request</button></div>
                    </form>
                </div>
                
            </div>
        </div>
    </div>
</div>