
<section class="body_warpper allcampai_page">
    <app-navbar></app-navbar>
    <!----start All Campaigns sec-->


<div class="about_us_outer">
    <figure><img src="assets/images/about-us.jpg"></figure>

    <div class="about_us">
        <div class="container">
        <h3>About Us</h3>
        <p *ngIf="aboutUs" [innerHTML]="aboutUs"></p>

    </div>
    </div>
</div>



 


    <!----start footer sec-->
    <app-footer></app-footer>
</section>

