.product_prize_detail {
    margin-bottom: 80px;
}
.fav_icon.capmaign_heart {
    position: relative;
    cursor: pointer;
}
.all_camproduct_text h3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.fa.fa-heart.item_wishlist {
    color: #d00;
}