<mat-dialog-content class="mat-typography">
    <ul>
        <li class="edit_address">
            <label>Enter Your Address </label>
            <!-- <form>
            <div class="form-group">
                <mat-form-field [floatLabel]="'never'">
                    <textarea matInput (click)="gotoAddress()" [(ngModel)]="userAddress" name="userAddress" placeholder="Not address added" readonly></textarea>
                </mat-form-field>
            </div>
            </form> -->
                <div class="address_right">
                <form name="form11" (ngSubmit)="f11.valid && updateAddress(f11)" #f11="ngForm"
                    novalidate>
                    <ul class="formn_group_main">
                        <li>
                            <label>Name</label>
                            <div class="form-group">
                                <mat-form-field [floatLabel]="'never'">
                                    <input matInput type="text" #firstname="ngModel"
                                        [(ngModel)]="order_name" name="order_name"
                                        maxlength="20" placeholder="Enter Name" required>
                                </mat-form-field>
                            </div>
                            <div *ngIf="f11.submitted && firstname.invalid ">
                                <div class="alert alert-danger"
                                    *ngIf="firstname.errors.required">
                                    Name is required
                                </div>

                            </div>
                        </li>
                        <li>
                            <label>Apartment</label>
                            <div class="form-group">
                                <mat-form-field [floatLabel]="'never'">
                                    <input matInput type="text" [(ngModel)]="apartment"
                                        name="apartment" maxlength="25" #Lastname="ngModel"
                                        placeholder="Apartment" required>
                                </mat-form-field>
                            </div>
                            <div *ngIf="f11.submitted && Lastname.invalid ">
                                <div class="alert alert-danger"
                                    *ngIf="Lastname.errors.required">
                                    Apartment is required
                                </div>
                            </div>
                        </li>
                        <li>
                            <label>Building Name</label>
                            <div class="form-group">
                                <mat-form-field [floatLabel]="'never'">
                                    <input matInput type="text" [(ngModel)]="building_name"
                                        maxlength="25" #buildingname="ngModel" required
                                        placeholder="Building Name" name="building_name"
                                        required>
                                </mat-form-field>
                            </div>
                            <div *ngIf="f11.submitted && buildingname.invalid ">
                                <div class="alert alert-danger"
                                    *ngIf="buildingname.errors.required">
                                    Building Name is required
                                </div>
                            </div>
                        </li>
                        <li>
                            <label>City</label>
                            <div class="form-group">
                                <mat-form-field [floatLabel]="'never'">
                                    <input matInput type="text" [(ngModel)]="city" name="city"
                                        maxlength="15" #cityname="ngModel" required
                                        placeholder="Enter City" required>
                                </mat-form-field>
                            </div>
                            <div *ngIf="f11.submitted">
                                <div class="alert alert-danger"
                                    *ngIf="cityname.errors?.required">
                                    City is required
                                </div>
                            </div>
                        </li>
                        <li>
                            <label>Country</label>
                            <div class="form-group">
                                <mat-form-field [floatLabel]="'never'">
                                    <input matInput type="text" [(ngModel)]="country" name="country"
                                        maxlength="15" #countryname="ngModel" required
                                        placeholder="Enter Country" required>
                                </mat-form-field>
                            </div>
                            <div *ngIf="f11.submitted">
                                <div class="alert alert-danger"
                                    *ngIf="countryname.errors?.required">
                                    Country is required
                                </div>
                            </div>
                        </li>
                        <li>
                            <label>Postal Code</label>
                            <div class="form-group">
                                <mat-form-field [floatLabel]="'never'">
                                    <input matInput type="text" pattern="^[0-9]*$" minlength="3"
                                        maxlength="7" [(ngModel)]="postal_code"
                                        name="postal_code" #Postal="ngModel"
                                        placeholder="Postal Code" appNumberOnly required>

                                </mat-form-field>
                            </div>
                            <div *ngIf="f11.submitted">
                                <div class="alert alert-danger" *ngIf="Postal.errors?.required">
                                    Postal Code is required
                                </div>
                            </div>
                        </li>
                        <li *ngIf="countryCode && countryCode.length>0">
                            <label>Contact Number</label>
                            <div class="country_code_outer">
                                <div class="country_code_common">
                                    <ngx-select-dropdown (change)="selectionChangedAddress($event)"
                                        name="country_code" [(ngModel)]="country_code_address"
                                        [config]="config1" [options]="countryCode">
                                    </ngx-select-dropdown>
                                    <div class="form-group">
                                        <mat-form-field [floatLabel]="'never'">
                                            <input matInput type="tel" pattern="^[0-9]*$" minlength="5"
                                                maxlength="15" [(ngModel)]="order_number"
                                                name="order_number" #Phone="ngModel"
                                                placeholder="Phone Number" required>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div *ngIf="f11.submitted && Phone.invalid">
                                    <div class="alert alert-danger" *ngIf="Phone.errors.required">
                                        Phone Number is required
                                    </div>
                                    <div class="alert alert-danger" *ngIf="Phone.errors?.minlength">
                                        Phone Number should be atleast of 5 digits!
                                    </div>
                                    <div class="alert alert-danger" *ngIf="Phone.errors?.maxlength">
                                        Phone Number can be only of
                                        15 digits!
                                    </div>
                                    <div class="alert alert-danger" *ngIf="Phone.errors?.pattern">
                                        Phone Number is invalid
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <button type="submit" *ngIf="userAddress">Update Address</button>
                    <button type="submit" *ngIf="!userAddress">Add Address</button>
                </form>
            </div>
        </li>
    </ul>
</mat-dialog-content>
