.nav_bar {
display: flex;
justify-content: space-between;
align-items: center;
}
.web_logo {
width: 19%;
cursor: pointer;
}
.nav_right_div {
width: 79%;
display: flex;
justify-content: flex-end;
align-items: center;
}
.top_navpages {
width: fit-content;
margin-right: 7rem;
}
.top_navpages ul {
display: flex;
justify-content: flex-end;
align-items: center;
}
.top_navpages ul li {
margin-right: 24px;
}
.top_navpages ul li:last-child {
margin-right: 0px;
}
.toggle_btn i {
font-size: 29px;
}
.topnav_profile {
width: fit-content;
justify-content: flex-end;
}
.topnav_profile ul {
display: flex;
justify-content: flex-end;
align-items: center;
}
.topnav_profile ul li{margin-right:16px;position: relative;}
.topnav_profile ul li:last-child{margin-right:0px}
.cart_nav {
display: flex;
justify-content: space-between;
align-items: center;
}
.cart_logo {
margin-right: 10px;
}
.top_navpages ul li a {
font-size: 14px;
font-weight: 400;
color: #000000;
text-transform: capitalize;
}
.topnav_profile ul li a {
font-size: 14px;
font-weight: 400;
color: #000000;
text-transform: capitalize;
}
.top_navpages li.nav-item.dropdown .fa {
    font-size: 18px;
    padding-left: 5px;
    vertical-align: middle;
}
// li.login_nav::after {
// content: "/";
// position:absolute;
// }
li.login_nav a {
padding-right: 10px;
}

.toogle_main {
display: none;
}
section.top_header_main {
padding: 17px 0;
box-shadow: 0px 3px 6px #00000012;
background: #fff;
}

/******3-march-2020*********/
li.user_nav_name {
display: flex;
justify-content: flex-start;
align-items: center;
}
span.user_name_dropdown {
margin-left: 10px;
}
li.user_nav_name::after {
content: '|';
padding-left: 12px;
font-size: 20px;
color: #DEDEDE;
}
.currency_select_bx option {
    color: #000;
}

.sticky_header {
    position: sticky;
    top: 0;
    left: auto;
    z-index: 8;
}
.currency_select_bx {
    margin-right: 15px;
}
.topnav_profile ul li .fa {
    font-size: 20px;
}
.notification_inner {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}
.notification_image {
    width: 60px;
    height: 60px;
    border-radius: 10px;
    background-color: #f8f8f8;
    position: relative;
}
.notification_image img{
    width: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}
.dropdown-menu {
    border-radius: 4px;
    box-shadow: 7px 8px 19px 0 rgba(0, 0, 0, 0.09);
    background-color: #ffffff;
    border: none;
    padding: 16px;
    position: absolute;
    right: 0;
    width: 390px;
    top: 55px;
    transform: translate3d(-314px, 0px, 0px);
}
.dropdown-menu.custom_drop_down a {
    display: list-item;
    padding-bottom: 10px;
}
.dropdown-menu.custom_drop_down a:last-of-type{padding: 0;}
.notification_description {
    width: 90%;
    padding-left: 18px;
}
.notification_description p {
    word-wrap: break-word;
    font-size: 15px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.28;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
}








.dropdown-item[_ngcontent-pjw-c144] {
    display: block;
    width: 100%;
    padding: 14px;
}

.fa.fa-heart {
    color: #d00;
}
.topnav_profile ul li {
    cursor: pointer;
}
.cart_logo {
    margin-right: 10px;
    position: relative;
    }
    .cart_logo span.items_cart_collect {
        content: attr(data-count);
         position: absolute;
         background: #FCB83F;
         height: 18px;
         top: -12px;
         right: -6px;
         width: 18px;
         text-align: center;
         line-height: 18px;
         font-size: 1rem;
         border-radius: 50%;
         color: #fff;
         border: 1px solid #FCB83F;
         font-weight: bold;
     }
@media(max-width:768px){
li.toogle_main {
display: block !important;
}  
.top_navpages.add_toppages {
position: absolute;
right: 0;
left: 0;
width: 100% !important;
background: red;
display: flex;
justify-content: center;
}
.top_navpages{display: none;}
}

@media(max-width:1400px){
    .top_navpages {
  
        margin-right: 2rem;
    }

}