<div class="sticky_header">
    <section class="top_hedaer_currency">
        <div class="conta_iner">
            <div class="top_social_bx">
                <div class="header_select_cuurency">
                    <div class="currency_select_bx">
                        <label>Currency: </label>
                        <mat-form-field>
                            <select matNativeControl required>
                                <option value="volvo">Dollar</option>
                                <option value="saab">Euro</option>
                                <option value="mercedes">Pound</option>
                                <option value="audi">Rupees</option>
                            </select>
                        </mat-form-field>
                    </div>
                    <div class="currency_select_bx">
                        <a>العربية</a>
                    </div>
                  
                </div>
                <div class="header_aboutpages">
                    <a [routerLink]="['/aboutus']">About Windealz </a>
                    <a [routerLink]="['/homepage']">Help Center</a>
                </div>
            </div>
        </div>
    </section>
    <section class="top_header_main ">
        <div class="conta_iner">
            <div class="nav_bar">
                <div class="web_logo" (click)="goTohomepage()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="169.388" height="53.348" viewBox="0 0 169.388 53.348">
                        <g id="Group_2438" data-name="Group 2438" transform="translate(-80 -49)">
                            <g id="Group_621" data-name="Group 621" transform="translate(80 49)">
                                <path id="Path_1429" data-name="Path 1429"
                                    d="M6356.94,6576.379h10.7a2,2,0,0,1,1.646,1.247c.584,1.728.531,2.039-.012,4.342-1.318,5.588-5.642,12.443-5.642,12.443h-15.271a2.735,2.735,0,0,0-1.356,1.252,4.928,4.928,0,0,0-.192,2.227h20.087s5.747-5.641,7.487-17.4c.485-3.269-.66-5.737-2.636-7.118-3.744-2.953-14.816-1.6-14.816-1.6a4.273,4.273,0,0,0-1.193,2.371A3.7,3.7,0,0,0,6356.94,6576.379Z"
                                    transform="translate(-6342.25 -6553.162)" fill="#fcb83f" />
                                <rect id="Rectangle_180" data-name="Rectangle 180" width="5.419" height="16.645" rx="2.71"
                                    transform="translate(5.032 18.588) rotate(-21)" fill="#fcb83f" />
                                <rect id="Rectangle_182" data-name="Rectangle 182" width="5.419" height="16.645" rx="2.71"
                                    transform="translate(8.129 1.942) rotate(-21)" fill="#fcb83f" />
                                <rect id="Rectangle_183" data-name="Rectangle 183" width="5.419" height="16.646" rx="2.71"
                                    transform="translate(24.028 17.482) rotate(-159)" fill="#fcb83f" />
                                <rect id="Rectangle_181" data-name="Rectangle 181" width="5.419" height="11.226" rx="2.71"
                                    transform="translate(0 23.62) rotate(-21)" fill="#fcb83f" />
                                <circle id="Ellipse_25" data-name="Ellipse 25" cx="3.677" cy="3.677" r="3.677"
                                    transform="translate(1.422 45.993)" />
                                <circle id="Ellipse_26" data-name="Ellipse 26" cx="3.677" cy="3.677" r="3.677"
                                    transform="translate(22.712 45.993)" />
                            </g>
                            <text id="Windealz" transform="translate(115.388 88.263)" font-size="26"
                                font-family="Montserrat-ExtraBoldItalic, Montserrat" font-weight="800" font-style="italic">
                                <tspan x="0" y="0">Windealz</tspan>
                            </text>
                        </g>
                    </svg>
                </div>
                <div class="nav_right_div">
                    <div class="toogle_main">
                        <div class="toggle_btn">
                            <i class="fa fa-bars"></i>
                        </div>
                    </div>
                    <div class="top_navpages">
                        <ul>
                            <!-- <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="javascript:void(0);" id="navbarDropdownMenuLink" data-toggle="dropdown" title="Who we are">Who we are <i class="fa fa-caret-down" aria-hidden="true"></i></a>
                                <div class="dropdown-menu custom_drop_down" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item menu_hide_mobile" href="">About Us</a>
                                    <a class="dropdown-item menu_hide_mobile" href="">How we Work</a>
                                                           </div>
                            </li> -->
                            <li>
                                <a (click)="goTowhoweare()">Who we Are</a>
                            </li>
    
                            <li>
                                <a (click)="goTohowwework()">how we work</a>
                            </li>
                            <li>
                                <a href="#winner_windelz">Wdealz</a>
                            </li>
                            <li>
                                <a href="#our_product_id">Products</a>
                            </li>
                            <li>
                                <a (click)="goToallcampaigns()"> Deals</a>
                            </li>
                        </ul>
                    </div>
                    <div class="topnav_profile">
                        <ul>
                            <div *ngIf="!authToken">
    
                            <li class="login_nav">
                                <a (click)="goTologin()">login</a>
                            </li>
                            <li class="register_nav">
                                <a (click)="goToSignup()">Register</a>
                            </li>
                        </div>
                            <li  *ngIf="authToken" class="user_nav_name" (click)="goToprofile()">
    
                                <a>{{firstName}} {{lastName}}</a>
                                <span class="user_name_dropdown">
                                    <figure>
                                        <img src="assets/images/home/dropdown_arrow.png" alt="">
                                    </figure>
                                </span>
                            </li>
                            <li (click)="gotowhislisitem()">
                                <i class="fa fa-heart"></i>
                            </li>
                            <!-- <li>
                                <i class="fa fa-bell" aria-hidden="true"></i>
                            </li> -->
                            
                            <li class="nav-item dropdown show">
                                <a class="nav-link dropdown-toggle" id="alertsDropdown" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <i class="fa fa-bell" aria-hidden="true"></i>
                                    <!-- <div class="notic_alert">
                                        <p>03</p>
                                    </div> -->
                                </a>
                                <div class="dropdown-menu" aria-labelledby="alertsDropdown">
                                <div class="dropdown-item">
                                    <div class="notification_inner">
                                        <div class="notification_image">
                                        <figure><img src="assets/images/cart-img.png"></figure>
                                        </div>
                                        <div class="notification_description">
                                          <p>Buy Nasa Black Hoodie Win Rolex watch<br>Availability:Sold 100 out of 200</p>  
                                        </div>
                                    </div>
                                    <div class="notification_inner">
                                        <div class="notification_image">
                                        <figure><img src="assets/images/cart-img.png"></figure>
                                        </div>
                                        <div class="notification_description">
                                          <p>Buy Nasa Black Hoodie Win Rolex watch<br>Availability:Sold 100 out of 200</p>  
                                        </div>
                                    </div>
                                    <div class="notification_inner">
                                        <div class="notification_image">
                                        <figure><img src="assets/images/cart-img.png"></figure>
                                        </div>
                                        <div class="notification_description">
                                          <p>Buy Nasa Black Hoodie Win Rolex watch<br>Availability:Sold 100 out of 200</p>    
                                        </div>
                                    </div>
                            </div>
                
                                </div>
                                </li>
    
    
                            <li>
                                <div  (click)="goToCart()" class="cart_nav">
                                    <div class="cart_logo">
                                        <i class="fa fa-shopping-cart"></i>
                                        <div  *ngIf="comm.campaignslength > 0 && comm.campaignslength != null"></div>
                                        <span class="items_cart_collect">{{comm.campaignslength}}</span>
    
    
                                        <!-- <figure>
                                            <img src="../../../assets/images/nva-bar/shopping-cart.png" alt="">
                                        </figure> -->
                                    </div>
                                    <div class="cart_title">
                                        <p>Cart</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    </div>