
// sold out css start from here

.sold_out_section{Width:100%;display: inline-block;vertical-align: middle;margin:30px 0 40px;}
.sold_out_inner {
    width: 100%;
    display: flex;
    align-items: left;
    justify-content: space-between;
    padding-top: 40px;
}
.sold_out {
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.25), 0 0px 17px rgba(0, 0, 0, 0.22);
    padding: 30px;
    border-radius: 10px;
    text-align: left;
}
.sold_out h3 {
    margin: 6px 0;
    font-size: 15px;
}
.sold_out img.left_Side_image {
    padding: 14px 0;
}
.sold_out img.sold_name{
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
    border-radius: 100%;
}
.process_line{width: 100%;display: inline-block;vertical-align: middle;padding: 0 0 40px;}
.process_line img {
    width: 100%;
}

// our process
.our_process_inner {
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: space-between;
    padding-top: 25px;
}
.left_circle {

    width: 60px;
    height: 60px;
    background: #FCB83F;
    border-radius: 50%;
    margin-right: 20px;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
}
.our_process_section {
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    padding-bottom: 80px;
    padding-top: 50px;
}
.our_process_comman {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.right_process_text h2 {
    font-size: 20px;
}
.learn_more {
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    margin: 50px 0 0;
    text-align: center;
}
.learn_more a{background: #FCB83F;
    background: #FCB83F;
    padding: 12px 24px;
    border-radius: 4px;
    color: #fff;
    font-weight: bold;
    font-size: 18px;}

// certification
.certification_inner {
    display: flex;
    align-items: center;
    padding: 30px 0 0;
}
.certification_comman{padding: 0 20px;    text-align: center;    height: 330px;}
.our_product .certification_comman{height: auto;}
.certification_comman p{padding-top: 15px;}
.certification_section{padding:  80px 0 0;}
.home_prizeimg figure {
    width: 270px;
    height: 175px;
    margin: 0 auto;
}
.home_prizeimg {
    width: 50%;
    height:175px;
}
.product_image figure {
    width: 225px;
    height: 200px;
    margin: 0 auto;
}
.product_image figure img.left_Side_image{width: 100% !important;height: 100%;object-fit: contain;}
.our_product{ width: 100%;
    display: inline-block;
    vertical-align: middle;
    padding-bottom: 80px;}
    .our_product .certification_comman p{padding-top: 0px;}
    .our_product .certification_comman h2{padding: 20px 0 10px;font-size: 22px;font-weight: 700;}

    // cta_outer
    .cta_outer{width: 100%;
        display: inline-block;
        vertical-align: middle;
        margin-bottom: 80px; background: #FCB83F;}
        .cta_inner {
            padding: 30px;
            display: flex;
            justify-content: space-between;
            width: 100%;
           
            align-items: center;
         
        }
        .product_image {
            min-height: 170px;
        }
        .get_free p {
            color: #fff;
            font-size: 22px;
            font-weight: 700;
            line-height: normal;
            padding: 0 0 6px;
        }
        .get_free h5 {
            color: #fff;
            font-size: 17px;
        }
        .know_more a {
            background: #fff;
            padding: 12px 20px;
            border-radius: 4px;
            color: #FCB83F;
            font-weight: bold;
        }
       
        .our_product .certification_comman img {
            width: auto !important;
            border-radius: 0;
            box-shadow:none;
        }
        .sold_out img{width: auto !important;}
        .web_title::after{background: #fdda9d;
            content: "";
            display: block;
            height: 11px;
            border-radius: 2px;
            position: relative;
            top: -14px;
            margin: auto;
            -webkit-transition: all 300ms;
            transition: all 300ms;
            width: 200px;
            z-index: -3;}
            .certification_section .web_title::after{    width: 157px;}
            .win_usersec .web_title::after{width: 319px;}
            .sold_out_section .web_title::after{width: 247px;}
            .all_campaingn .web_title::after{width: 247px;}
            .google_applinks img {
                width: auto;
            }
/***********start multiple slider****************/
.MultiCarousel { float: left; overflow: hidden; padding: 15px; width: 100%; position:relative; }
.MultiCarousel .MultiCarousel-inner { transition: 1s ease all; float: left; }
.MultiCarousel .MultiCarousel-inner .item { float: left;}
// .MultiCarousel .MultiCarousel-inner .item > div { text-align: center; padding:10px; margin:10px; background:#f1f1f1; color:#666;}
.MultiCarousel .leftLst, .MultiCarousel .rightLst { position:absolute; border-radius:50%;top:calc(50% - 20px); }
.MultiCarousel .leftLst { left:0; }
.MultiCarousel .rightLst { right:0; }
.MultiCarousel .leftLst.over, .MultiCarousel .rightLst.over { pointer-events: none; background:#ccc; }
.MultiCarousel-inner {
    display: flex;
}
.item {
    box-sizing: border-box;
    margin-right: 22px;
}
/*****home banner***********/
.banner_main {
display: flex;
justify-content: space-between;
align-items: center;
position: relative;
width: 100%;
}
// div#slick-slide01 div {
// display: flex;
// justify-content: space-between;
// align-items: center;width: 100%;
// }
.banner_text h1 span {
    display: block;
    font-size: 30px;
    font-weight: 600;
    color: #2B9F00;margin-bottom: 15px;
}
.banner_text h1 {
    font-size: 37px;
    font-weight: 600;
    color: #000000;
    text-transform: capitalize;
}
.banner_text p {
    font-size: 54px;
    text-transform: capitalize;
    color: #000000;
    padding-top: 7px;
}
.banner_text p span {
    color: #FCB83F;
    font-size: 119px;
    font-weight: 700;
}
.banner_text {
    width: 50%;
}
.certification_comman figure img {
    object-fit: contain;
    height: inherit;
}
.certification_comman figure{
      height: 140px;
    width: 230px;
    margin: 0 auto;
}
.our_product .certification_comman img {
    width: 100% !important;
height: 100%;
object-fit: contain;
}

.fa.fa-heart.item_wishlist {
    color: #d00;
}
span.title_name_camp {
    font-size: 18px;
    font-weight: 600!important;
}

.fav_icon.capmaign_heart {
    position: relative;
    cursor: pointer;
}
.all_camproduct_text h3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.all_campaingns_product ul li {
    cursor: pointer;
}
.cart-status{
    display: none;
}