<div class="login_wrap">
    <div class="conta_iner">
        <div class="login_main">
            <div class="login_logo_img">
                <svg xmlns="http://www.w3.org/2000/svg" width="292.576" height="92.828" viewBox="0 0 292.576 92.828">
                    <g id="Group_2401" data-name="Group 2401" transform="translate(-80 -49)">
                        <g id="Group_621" data-name="Group 621" transform="translate(80 49)">
                            <path id="Path_1429" data-name="Path 1429"
                                d="M6364.468,6580.016h18.625a3.486,3.486,0,0,1,2.865,2.169c1.018,3.007.924,3.549-.021,7.556-2.294,9.725-9.817,21.651-9.817,21.651h-26.57a4.755,4.755,0,0,0-2.359,2.18,8.571,8.571,0,0,0-.334,3.875h34.951s10-9.816,13.027-30.275c.844-5.687-1.147-9.981-4.586-12.385-6.515-5.138-25.78-2.784-25.78-2.784s-2.076,2.124-2.076,4.126S6364.468,6580.016,6364.468,6580.016Z"
                                transform="translate(-6338.906 -6539.617)" fill="#fff" />
                            <rect id="Rectangle_180" data-name="Rectangle 180" width="9.43" height="28.964" rx="4.715"
                                transform="translate(8.756 32.343) rotate(-21)" fill="#fff" />
                            <rect id="Rectangle_182" data-name="Rectangle 182" width="9.43" height="28.964" rx="4.715"
                                transform="translate(14.145 3.38) rotate(-21)" fill="#fff" />
                            <rect id="Rectangle_183" data-name="Rectangle 183" width="9.43" height="28.964" rx="4.715"
                                transform="translate(41.809 30.419) rotate(-159)" fill="#fff" />
                            <rect id="Rectangle_181" data-name="Rectangle 181" width="9.43" height="19.534" rx="4.715"
                                transform="translate(0 41.099) rotate(-21)" fill="#fff" />
                            <circle id="Ellipse_25" data-name="Ellipse 25" cx="6.399" cy="6.399" r="6.399"
                                transform="translate(2.474 80.03)" />
                            <circle id="Ellipse_26" data-name="Ellipse 26" cx="6.399" cy="6.399" r="6.399"
                                transform="translate(39.52 80.03)" />
                        </g>
                        <text id="Windealz" transform="translate(141.576 117.817)" font-size="45"
                            font-family="Montserrat-ExtraBoldItalic, Montserrat" font-weight="800" font-style="italic">
                            <tspan x="0" y="0">Windealz</tspan>
                        </text>
                    </g>
                </svg>
            </div>
            <div class="login_form">
                <h3>Welcome back!<span>Sign in to your account</span></h3>
                <form #f="ngForm" (ngSubmit)="f.form.valid && Login(f)">
                    <div class="formn_group_main">
                        <div class="form-group">
                            <mat-form-field [floatLabel]="'never'">
                                <input matInput type="text" placeholder="Enter your phone or email" class="form-control" id="usr" [(ngModel)]="email_phone" name="email_phone"
                                #Email="ngModel"  required>
                            </mat-form-field>
                            <div class="validation_logins" *ngIf="f.submitted && Email.invalid ">
                                <div class="login_validation alert alert-danger" *ngIf="Email.errors.required">
                                    Email/Phone no. is required
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <mat-form-field appearance="fill">
                                <input matInput [type]="hide ? 'password' : 'text'" class="form-control" placeholder="Enter your Password"
                                [(ngModel)]="password" value="" name="password" #Password="ngModel" required>
                                <button class="login_eye_btn" mat-icon-button matSuffix (click)="hide = !hide"
                                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </button>
                                
                            </mat-form-field>
                            <div class="validation_logins" *ngIf="f.submitted && Password.invalid ">
                                <div class="login_validation alert alert-danger" *ngIf="Password.errors.required">
                                    Password is required
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="check_box_outer">
                        <p>
                        <label class="check_boxes">
                        <input type="checkbox" [(ngModel)]="rememberMe" name="rememberMe">
                        <span class="checkmark_box"></span>
                        <span class="label_name">Remember Me</span></label>
                    </p>
                    <a (click)="goToforgetpassword()">Forgot your password?</a>
                </div>
                    
                    <!-- <button (click)="goTohomepage()">Login</button> -->
                    <button mat-button  type="submit" name="login">LOG IN</button>

                    <!-- <p class="social_text">Or continue with Social</p>
                    <ul class="connection_img">
                        <li>
                            <figure><img src="../../assets/images/facebook.png"></figure>
                        </li>
                        <li>
                            <figure><img src="../../assets/images/goggle.png"></figure>
                        </li>
                    </ul> -->
                    <!-- <p class="login_disc">By clicking on a social options you may receive an sms for verification.
                        messsage and data rates
                        may apply.</p> -->
                </form>
            </div>
            <p class="signupp">Don’t have an account? <a (click)="goTosignup()">Sign up</a></p>
        </div>
    </div>
</div>