.login_validation.alert.alert-danger.ng-star-inserted {
    padding: 0px;
    background: transparent;
    border: none;
    margin: 0px;
    }
    .login_form mat-form-field {
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 10px;
    }
    .form-group {
    border:none;
    overflow: hidden;
    border-radius: 0px;
    margin-bottom: 15px;
    }
    .login_form .mat-form-field-appearance-fill .mat-form-field-flex {
    background: transparent;
    }
    input.mat-input-element {
    margin-top: 0px;
    }
    .formn_group_main input.mat-input-element{border-radius: 10px;}
    button.login_eye_btn.mat-icon-button.mat-button-base{top:7px;}
    // .login_form .mat-form-field-appearance-fill .mat-form-field-flex {
    // background: transparent !important;
    // }

    .check_box_outer {
        width: 100%;
        padding:  0 0 10px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    .check_box_outer .check_boxes {
        display: block;
        position: relative;
        padding-left: 30px;
        margin-bottom: 0;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    .check_boxes input {position: absolute;opacity: 0;cursor: pointer;height: 0;width: 0;}
    .checkmark_box {position: absolute;top: 0;left: 0;height: 21px;width: 21px;background-color: #fff;border: 1px solid #e0e2e6;}
    .check_boxes:hover input ~ .checkmark_box {background-color: #ccc;}
    .check_boxes input:checked ~ .checkmark_box {background-color: #000000;}
    .checkmark_box:after {content: "";position: absolute;display: none;}
    .check_boxes input:checked ~ .checkmark_box:after {display: block;}
    .check_boxes .checkmark_box:after {left: 7px;top: 2px;width: 6px;height: 12px;border: solid #fff;border-width: 0 2px 2px 0;-webkit-transform: rotate(45deg);-ms-transform: rotate(45deg);transform: rotate(45deg);}
        .check_boxes .label_name {
       
            color: #000;
            font-size: 14px;
            font-weight: 600;
            text-align: right;
        }

        .check_box_outer p {
            width: 100%;
            display: inline-block;
            vertical-align: middle;
            text-align: left;
        }
        .login_form a {
      
            text-align: right;
        }