.paynow_outer {
    margin-bottom: 80px;
}
.order_confirmation_bx {
    width: 32%;
    top: 68px;
    position: relative;
}



.order_confirmation_bx {
    
    height: 370px;}

    .redeem_button button {
        color: #000000;
        font-size: 16px;
        background: #ffff;
        border: none;
        font-weight: 800;
        padding: 12px 55px;
        border-radius: 100px;
    }

    .redeem_button {
      
        display: inline-block;
        vertical-align: middle;
        text-align: center;
       
    }

    .earn_points svg {
        width: 100px;
        height: 80px;
        margin-right: 17px;
    }
    .earn_points {
        background: #FCB83F;
        margin-bottom: 3rem;
        display: -webkit-box;
        display: flex;
        -webkit-box-pack: start;
        justify-content: flex-start;
        -webkit-box-align: center;
        align-items: center;
        padding: 10px 20px;
        border-radius: 6px;
        margin-top:0;
    }

    .earn_points p {
        font-size: 17px;
        font-weight: 400;
        color: #FFFFFF;
        width: 100%;
        padding-right: 20px;
    }