<section class="body_warpper paynow_page">
    <app-navbar></app-navbar>
    <!--------start cart page top sec-->
    <div class="all_sec top_page_title">
        <div class="conta_iner">
            <h3>payment</h3>
        </div>
    </div>

    <div *ngIf="paymentData" class="paynow_outer">
        <div class="conta_iner">
            
            <div class="paynow_innerbx">
                
                <div class="pay_selectpayment_sec">

                    <div class="earn_points">
                        <svg id="surface1" xmlns="http://www.w3.org/2000/svg" width="35.676" height="35.675"
                            viewBox="0 0 35.676 35.675">
                            <path id="Path_1463" data-name="Path 1463"
                                d="M140.6,3.931a2.38,2.38,0,0,1,1.955,1.955.615.615,0,0,0,1.213,0,2.38,2.38,0,0,1,1.955-1.955.615.615,0,0,0,0-1.213A2.38,2.38,0,0,1,143.77.762a.615.615,0,0,0-1.213,0A2.38,2.38,0,0,1,140.6,2.718a.615.615,0,0,0,0,1.213Zm0,0"
                                transform="translate(-134.552 -0.25)" fill="#fff" />
                            <path id="Path_1464" data-name="Path 1464"
                                d="M700.778,392.935a2.38,2.38,0,0,1,1.955,1.956.615.615,0,0,0,1.213,0,2.381,2.381,0,0,1,1.955-1.956.615.615,0,0,0,0-1.213,2.38,2.38,0,0,1-1.955-1.955.615.615,0,0,0-1.213,0,2.379,2.379,0,0,1-1.955,1.955.615.615,0,0,0,0,1.213Zm0,0"
                                transform="translate(-672.584 -373.877)" fill="#fff" />
                            <path id="Path_1465" data-name="Path 1465"
                                d="M287.467,155.816a7.381,7.381,0,1,0,7.381,7.381A7.382,7.382,0,0,0,287.467,155.816Zm-4.921,7.381h-1.23a6.158,6.158,0,0,1,6.151-6.151v1.23A4.927,4.927,0,0,0,282.546,163.2Zm4.306,3.691v-.615h-1.23v-1.23h2.46a.615.615,0,0,0,0-1.23h-1.23a1.845,1.845,0,0,1,0-3.691v-.615h1.23v.615h1.23v1.23h-2.46a.615.615,0,0,0,0,1.23h1.23a1.845,1.845,0,1,1,0,3.691v.615Zm.615,2.46v-1.23a4.927,4.927,0,0,0,4.921-4.921h1.23A6.158,6.158,0,0,1,287.467,169.348Zm0,0"
                                transform="translate(-269.014 -149.667)" fill="#fff" />
                            <path id="Path_1466" data-name="Path 1466"
                                d="M0,648.651H4.921V638.195H0Zm1.845-4.306a1.23,1.23,0,1,1-1.23,1.23A1.23,1.23,0,0,1,1.845,644.346Zm0,0"
                                transform="translate(0 -612.977)" fill="#fff" />
                            <path id="Path_1467" data-name="Path 1467"
                                d="M184.354,612.4a1.659,1.659,0,0,0-1.6-.1l-8.429,3.99a.618.618,0,0,1-.263.062h-9.227a.615.615,0,0,1,0-1.23h7.689a1.538,1.538,0,0,0,0-3.076h-7.689a.615.615,0,0,1-.435-.18,7.492,7.492,0,0,0-8.791-1.3v10.709h15.479a10.467,10.467,0,0,0,5.239-1.408l7.974-4.617a1.666,1.666,0,0,0,.056-2.85Zm0,0"
                                transform="translate(-149.454 -585.601)" fill="#fff" />
                        </svg>
                        <p>You will earn <span>{{paymentData.total_earned}}</span> wPoints from this purchase</p>
    
                         <div  *ngIf="paymentData.total_earned >0" class="redeem_button">
                            <button (click)="redeemPoints()">Redeem</button>
                        </div>
                        
                    </div>
                    <ul>
                        <li>
                            <div class="windeal_wallet_bx wallet_border">
                                <div class="windeal_wallet_collection paynow_left">
                                    <!------paynow_left class is use paynow page every wallet sec left-->
                                    <figure>
                                        <img src="assets/images/home/wallet.png" alt="">
                                    </figure>
                                    <p>WinDealz wallet<span>${{paymentData.wallet_balance}}</span></p>
                                </div>
                                <!-- <div class=" paynow_right">
                                    ---paynow_right class is use wallet page evey right radio button div
                                    <mat-radio-button value="1" checked="checked"></mat-radio-button>
                                </div> -->
                            </div>
                        </li>
                        <!-- <li>
                            <div class="windeal_wallet_bx">
                                <div class="credit_card_screen paynow_left">
                                    <div class="card_user_info">
                                        <h3 class="cardholder_name">Rohit</h3>
                                        <p>MM/YY <span>11/12</span></p>
                                        <h4>***********************<span>7753</span></h4>
                                    </div>
                                    <div class="credit_card_cvv">
                                        <figure>
                                            <img src="assets/images/home/mastercard.png" alt="">
                                        </figure>
                                        <mat-form-field [floatLabel]="'never'">
                                            <input matInput type="text" placeholder="CVV" name="name" maxlength="4">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="paynow_radionbtn paynow_right">
                                    <mat-radio-button value="1" checked="checked"></mat-radio-button>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="windeal_wallet_bx">
                                <div class="credit_card_screen paynow_left">
                                    <div class="card_user_info">
                                        <h3 class="cardholder_name">Rohit</h3>
                                        <p>MM/YY <span>11/12</span></p>
                                        <h4>***********************<span>7753</span></h4>
                                    </div>
                                    <div class="credit_card_cvv">
                                        <figure>
                                            <img src="assets/images/home/mastercard.png" alt="">
                                        </figure>
                                        <mat-form-field [floatLabel]="'never'">
                                            <input matInput type="text" placeholder="CVV" name="name" maxlength="4">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="paynow_radionbtn paynow_right">
                                    <mat-radio-button value="1" checked="checked"></mat-radio-button>
                                </div>
                            </div>
                        </li> -->
                        <li>
                            <div class="add_card_btn wallet_border">
                                <p><span>
                                        <figure><img src="assets/images/home/add-copy-3.png" alt=""></figure>
                                    </span>Add Credit card</p>
                            </div>
                        </li>
                        <li>
                            <div class="add_card_btn wallet_border">
                                <p><span>
                                        <figure><img src="assets/images/home/add-copy-3.png" alt=""></figure>
                                    </span>Add Debit card</p>
                            </div>
                        </li>
                        <li>
                            <div class="add_card_btn wallet_border">
                                <p><span>
                                        <figure><img src="assets/images/home/add-copy-3.png" alt=""></figure>
                                    </span>Net Banking</p>
                            </div>
                        </li>

                    </ul>
                </div>
                <div class="cart_subtoatl_sec cart_bill_sec">
                    <div class="cart_subtotal_pricebill">
                        <ul>
                            <li>
                                <h5>subtotal</h5>
                                <p>${{price}}.00</p>
                            </li>
                            <!-- <li>
                                <h5>discount</h5>
                                <p>5%</p>
                            </li> -->
                            <li>
                                <h5>Inclusive of 5% VAT</h5>
                                <p>5%</p>
                            </li>
                            <!-- <li>
                                <h5>Shiping</h5>
                                <p>$ 10</p>
                            </li> -->
                        </ul>
                    </div>
                    <div class="grand_total_sec">
                        <p>${{total}} <span>Grand total</span></p>
                        <button  (click)="submit()">
                            pay now
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!----start footer sec-->
    <app-footer></app-footer>
</section>

<!----start order confirmation -->
<div  #confirmation class="order_confirmation_popup" [ngStyle]="{'display': isSubmitted ? 'block' : 'none'}">
    <div class="order_confirmation_posdiv">
        <div class="order_confirmation_bx">
            <div class="got_it_icon">
                <figure><img src="assets/images/smily.png"></figure>
                <!-- <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="48.658"
                    height="50.524" viewBox="0 0 48.658 50.524">
                    <defs>
                        <clipPath id="clip-path">
                            <path id="Path_23" data-name="Path 23"
                                d="M.825,46.769A1,1,0,0,1,0,45.785V25.518l2.79-.459a2,2,0,0,0,1.475-1.1l4.792-9.868a1,1,0,0,1,.215-.292l5.053-4.746L15.266,0h0a6.538,6.538,0,0,1,6.1,6.1v3.986l-1.939,5.463a3,3,0,0,0,2.827,4H29.56a1,1,0,0,1,.629.223l2.9,2.35a2,2,0,0,1,.621,2.238l-1.161,3.192,1.229,2.856a2,2,0,0,1-.152,1.869l-1.61,2.517.933,2.658a2,2,0,0,1-.459,2.063L30.4,41.648l.459,2.361A2,2,0,0,1,30.082,46l-2.9,2.132a2,2,0,0,1-1.186.39H10.811a1,1,0,0,1-.175-.015Z"
                                transform="translate(0.714)" fill="#fff" stroke="#430062" stroke-miterlimit="10"
                                stroke-width="1" />
                        </clipPath>
                        <clipPath id="clip-path-2">
                            <path id="Combined_Shape" data-name="Combined Shape"
                                d="M.108,5.523C-.581,4.207,2.193,1.518,3.95,0L2.667,3.616A3,3,0,0,0,4.5,7.452C3.408,7.362.877,6.994.108,5.523Z"
                                transform="translate(17.473 11.931)" fill="#d8d8d8" />
                        </clipPath>
                    </defs>
                    <g id="Group_17" data-name="Group 17" transform="translate(0 1)">
                        <g id="Group_16" data-name="Group 16">
                            <g id="Rectangle_23" data-name="Rectangle 23" transform="translate(0 23.93)" fill="#99c4ff"
                                stroke="#430062" stroke-miterlimit="10" stroke-width="1">
                                <rect width="13.714" height="23.493" rx="2" stroke="none" />
                                <rect x="0.5" y="0.5" width="12.714" height="22.493" rx="1.5" fill="none" />
                            </g>
                            <path id="Rectangle_23_Copy" data-name="Rectangle 23 Copy"
                                d="M.016,0H11.445V7.7a1,1,0,0,1-1,1H1a1,1,0,0,1-1-1Z"
                                transform="translate(1.127 37.605)" fill="#66a6ff" />
                            <g id="Group_8" data-name="Group 8" transform="translate(13)">
                                <g id="Path_23-2" data-name="Path 23" transform="translate(0.714)" fill="#fff"
                                    stroke-miterlimit="10">
                                    <path
                                        d="M 26.00102424621582 49.023681640625 L 10.81132411956787 49.023681640625 C 10.72379398345947 49.023681640625 10.63572406768799 49.01594161987305 10.54956436157227 49.00067138671875 L 0.7382439374923706 47.26182174682617 C 0.02075394056737423 47.13466262817383 -0.4999960660934448 46.51350021362305 -0.4999960660934448 45.78483200073242 L -0.4999960660934448 25.51775169372559 L -0.4999960660934448 25.09322166442871 L -0.08109606057405472 25.02437019348145 L 2.708493947982788 24.56585121154785 C 3.188524007797241 24.4869499206543 3.601984024047852 24.1786003112793 3.814513921737671 23.74101066589355 L 8.606853485107422 13.87337112426758 C 8.687024116516113 13.70830059051514 8.795494079589844 13.56091117858887 8.929244041442871 13.43528079986572 L 13.8466157913208 8.816962242126465 L 14.76818370819092 -0.05167917907238007 L 14.81476402282715 -0.4999991655349731 L 15.26550388336182 -0.4999991655349731 C 18.59559440612793 -0.4999991655349731 21.864013671875 2.768420934677124 21.864013671875 6.0985107421875 L 21.864013671875 10.08425045013428 L 21.864013671875 10.17036056518555 L 21.83521461486816 10.25150108337402 L 19.89610481262207 15.71453094482422 C 19.62079429626465 16.49015998840332 19.73518371582031 17.32060050964355 20.20995330810547 17.99290084838867 C 20.68472480773926 18.66520118713379 21.42904472351074 19.05079078674316 22.25208473205566 19.05079078674316 L 29.55972480773926 19.05079078674316 C 29.90221405029297 19.05079078674316 30.23743438720703 19.16948127746582 30.50362396240234 19.38500022888184 L 33.40553283691406 21.73460006713867 C 34.23441314697266 22.40571022033691 34.54634475708008 23.52999114990234 34.18173217773438 24.53223991394043 L 33.08837509155273 27.53772735595703 L 34.23918533325195 30.21106147766113 C 34.56760406494141 30.97402000427246 34.49641418457031 31.84722137451172 34.04876327514648 32.54689025878906 L 32.56990432739258 34.85832214355469 L 33.42227554321289 37.28641891479492 C 33.74001312255859 38.19158935546875 33.52022552490234 39.17947006225586 32.84867477416992 39.86455154418945 L 30.94081878662109 41.81079483032227 L 31.35009384155273 43.91435241699219 C 31.53359413146973 44.85754013061523 31.15222358703613 45.83513259887695 30.37849426269531 46.40489196777344 L 27.48342323303223 48.53676986694336 C 27.05084419250488 48.85531234741211 26.53823471069336 49.023681640625 26.00102424621582 49.023681640625 Z"
                                        stroke="none" />
                                    <path
                                        d="M 26.00102424621582 48.523681640625 C 26.42776489257813 48.523681640625 26.84331321716309 48.38719177246094 27.18694305419922 48.13415145874023 L 30.0820140838623 46.00226974487305 C 30.70426368713379 45.54405975341797 31.00687408447266 44.76837158203125 30.85929489135742 44.00984191894531 L 30.39984321594238 41.64839935302734 L 32.49161529541016 39.51454162597656 C 33.02488327026367 38.97053146362305 33.20281219482422 38.17082214355469 32.95049285888672 37.45203018188477 L 32.01743316650391 34.79407119750977 L 33.62759399414063 32.27742004394531 C 33.98526382446289 31.71839141845703 34.04232406616211 31.01834106445313 33.77992248535156 30.40876007080078 L 32.55068206787109 27.55323028564453 L 33.71186447143555 24.36130142211914 C 34.003662109375 23.55919075012207 33.75426483154297 22.66029167175293 33.09090423583984 22.12318992614746 L 30.18899345397949 19.77360153198242 C 30.01095390319824 19.62945175170898 29.78881454467773 19.55079078674316 29.55972480773926 19.55079078674316 L 22.25208473205566 19.55079078674316 C 20.17996406555176 19.55079078674316 18.73177337646484 17.50004005432129 19.42490386962891 15.54728126525879 L 21.364013671875 10.08425045013428 L 21.364013671875 6.0985107421875 C 21.364013671875 3.036460876464844 18.32756423950195 8.203124934880179e-07 15.26550388336182 8.203124934880179e-07 L 14.32468414306641 9.053911209106445 L 9.271543502807617 13.7997407913208 C 9.182703971862793 13.88318061828613 9.109864234924316 13.9821605682373 9.056613922119141 14.09180068969727 L 4.264274120330811 23.95944023132324 C 3.980484008789063 24.54377174377441 3.430593967437744 24.95387077331543 2.789593935012817 25.05923080444336 L 3.940429905924248e-06 25.51775169372559 L 3.940429905924248e-06 45.78483200073242 C 3.940429905924248e-06 46.26980209350586 0.3479739427566528 46.68486022949219 0.8254939317703247 46.76948928833008 L 10.63681411743164 48.50833892822266 C 10.69442367553711 48.51855087280273 10.75281429290771 48.523681640625 10.81132411956787 48.523681640625 L 26.00102424621582 48.523681640625 M 26.00102424621582 49.523681640625 L 10.81132411956787 49.523681640625 C 10.69461441040039 49.523681640625 10.57719421386719 49.51335906982422 10.46230411529541 49.49300003051758 L 0.6509839296340942 47.754150390625 C -0.3056560456752777 47.58460235595703 -0.9999960660934448 46.75638198852539 -0.9999960660934448 45.78483200073242 L -0.9999960660934448 25.51775169372559 L -0.9999960660934448 24.668701171875 L -0.1621860563755035 24.53099060058594 L 2.627403974533081 24.07247161865234 C 2.947423934936523 24.01987075805664 3.223063945770264 23.81430053710938 3.36475396156311 23.5225715637207 L 8.157083511352539 13.65493106842041 C 8.263983726501465 13.43484115600586 8.408603668212891 13.23832035064697 8.586934089660645 13.07083034515381 L 13.36854648590088 8.580023765563965 L 14.27086353302002 -0.1033591777086258 L 14.36403369903564 -0.9999991655349731 L 15.26550388336182 -0.9999991655349731 C 16.98822402954102 -0.9999991655349731 18.77589416503906 -0.2003591805696487 20.17013359069824 1.193880796432495 C 21.56437301635742 2.588120937347412 22.364013671875 4.375790596008301 22.364013671875 6.0985107421875 L 22.364013671875 10.08425045013428 L 22.364013671875 10.25646114349365 L 22.30640411376953 10.41875076293945 L 20.36729431152344 15.88178062438965 C 20.14705467224121 16.50229072570801 20.23856353759766 17.1666316986084 20.61838340759277 17.70448112487793 C 20.99819374084473 18.2423210144043 21.59365463256836 18.55079078674316 22.25208473205566 18.55079078674316 L 29.55972480773926 18.55079078674316 C 30.01638412475586 18.55079078674316 30.46333312988281 18.70905113220215 30.8182544708252 18.99640083312988 L 33.72017288208008 21.34600067138672 C 34.71482467651367 22.15134048461914 35.08913421630859 23.50048065185547 34.65161514282227 24.70317077636719 L 33.62607192993164 27.52225494384766 L 34.69843292236328 30.01336097717285 C 35.09254455566406 30.92891120910645 35.00712203979492 31.97676086425781 34.46994400024414 32.81636047363281 L 33.12237548828125 34.92258453369141 L 33.89404296875 37.12080001831055 C 34.27534484863281 38.20701217651367 34.01159286499023 39.39247131347656 33.20573425292969 40.21456146240234 L 31.48178482055664 41.97319793701172 L 31.84088325500488 43.8188591003418 C 32.06109237670898 44.95067977905273 31.60344314575195 46.12380218505859 30.67497444152832 46.80751037597656 L 27.77990341186523 48.93938064575195 C 27.26080322265625 49.32163238525391 26.64567375183105 49.523681640625 26.00102424621582 49.523681640625 Z"
                                        stroke="none" fill="#430062" />
                                </g>
                                <g id="Group_8-2" data-name="Group 8" clip-path="url(#clip-path)">
                                    <path id="Combined_Shape-2" data-name="Combined Shape"
                                        d="M10.812,7.17a.947.947,0,0,1-.175-.015L.825,5.416A1,1,0,0,1,0,4.432V.308A151.183,151.183,0,0,0,20.937,2.171,22.655,22.655,0,0,0,30.69,0L30.4.3l.459,2.362a2,2,0,0,1-.778,1.993L27.187,6.782A2,2,0,0,1,26,7.17Z"
                                        transform="translate(0.714 41.353)" fill="#d8d8d8" />
                                </g>
                                <path id="Combined_Shape-3" data-name="Combined Shape"
                                    d="M.108,5.523C-.581,4.207,2.193,1.518,3.95,0L2.667,3.616A3,3,0,0,0,4.5,7.452C3.408,7.362.877,6.994.108,5.523Z"
                                    transform="translate(17.473 11.931)" fill="#d8d8d8" />
                            </g>
                        </g>
                        <ellipse id="Oval_12" data-name="Oval 12" cx="1.714" cy="1.709" rx="1.714" ry="1.709"
                            transform="translate(2.286 41.76)" fill="#fff" />
                    </g>
                </svg> -->
            </div>
            <div  class="order_confirmation_text">
                <h3>confirmation</h3>
                <p>Thank you
                    <span>You have successfully completed purchase</span></p>
                <button mat-button (click)="goTohomepage()">Back to Home</button>
            </div>
        </div>
    </div>
</div>