<section class="body_warpper paynow_page">
    <app-navbar></app-navbar>
    <div class="order_detail_wrap">
        <div class="conta_iner">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a>Home</a></li>
                    <li class="breadcrumb-item"><a> Order id :334555</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Details page</li>
                </ol>
            </nav>
            <div class="orderdetail_main">
                <div class="orderdetail_left">
                    <div class="order_detail_content">
                        <div class="order_detail_left">
                            <h3>Order id :334555<span>product1,product2</span></h3>
                            <ul>
                                <li>
                                    <i class="fa fa-calendar-alt"></i>16/11/2017
                                </li>
                                <li>
                                    <i class="fa fa-clock"></i>03:15 PM
                                </li>
                            </ul>
                        </div>
                        <div class="order_detail_right">
                            <h4 class="blue_color"><span>Status</span>Out Of Delivery</h4>
                        </div>
                    </div>
                    <ul class="bill_detail">
                        <h4>Bill Details</h4>
                        <li>
                            <h3>Product1</h3>
                            <h3>$ 15</h3>
                        </li>
                        <li>
                            <h3>Product1</h3>
                            <h3>$ 15</h3>
                        </li>
                        <li>
                            <h3>Product1</h3>
                            <h3>$ 15</h3>
                        </li>
                    </ul>
                    <ul class="item_total">
                        <li>
                            <h3>Item total</h3>
                            <h3>$ 3,490</h3>
                        </li>
                        <li>
                            <h3>Postage</h3>
                            <h3>FREE</h3>
                        </li>
                        <li>
                            <h3>Total </h3>
                            <h3 class="extrabold_order">$ 3546</h3>
                        </li>
                    </ul>
                    <button>Cancel</button>
                    <p class="orderdetail_p">New Products 30 days to leave feedback + waranty</p>
                </div>
                <div class="orderdetail_right">
                    <ul class="approved_ordder">
                        <h4>Shipping Details</h4>
                        <li>
                            <div class="aproved_order_main">
                                <div class="approved_order_left">

                                    <div class="approved_order_inner">
                                        <div class="approved_order_inner2"></div>

                                    </div>
                                </div>
                                <div class="approved_order_right">
                                    <h4>Order and Approved</h4>
                                    <h5>Your order has been Placed<span>Sat,14th dec,19</span></h5>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="aproved_order_main second">
                                <div class="approved_order_left">

                                    <div class="approved_order_inner">
                                        <div class="approved_order_inner2"></div>

                                    </div>
                                </div>
                                <div class="approved_order_right">
                                    <h3>Shipped<span>Sat,14th dec,19</span></h3>
                                    <h5>Your order has been Placed<span>Sat,14th dec,19</span></h5>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="aproved_order_main third">
                                <div class="approved_order_left">

                                    <div class="approved_order_inner">
                                        <div class="approved_order_inner2"></div>

                                    </div>
                                </div>
                                <div class="approved_order_right">
                                    <h3>Dilvered<span>Sat,14th dec,19</span></h3>
                                    <h5>Your order has been Placed<span>Sat,14th dec,19</span></h5>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <ul class="get_help">
                        <li><a>View Receipt</a></li>
                        <li class=border_right_order></li>
                        <li class=""><a>Get Help</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!----start footer sec-->
    <app-footer></app-footer>
</section>