<section class="body_warpper allcampai_page">
    <app-navbar></app-navbar>
    <!----start All Campaigns sec-->
    <div class="all_sec home_allcam_sec campainage_page_parent">
        <div class="conta_iner">
            <div class="home_campaingns_title">
                <h3 class="web_title">All Deals</h3>
                <p class="web_disc">Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem
                    Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>

            <div class="all_campaingns_product">
                <ul>
                    <li *ngFor="let item of all_campaigns; let i=index">
                        <div *ngIf="item.status==1" class="all_camproduct_bx">
                            <div class="all_camproduct_img" (click)="goToproductdetail(item)">
                                <figure>
                                    <img [src]="item.product.image" alt="">
                                </figure>
                            </div>
                            <div class="all_camproduct_disc">
                                <div class="all_camproduct_text">
                                    <h3><span class="title_name_camp">{{item.product.name}}</span><span (click)="addFav(i,item)" class="fav_icon capmaign_heart">
                                        <i *ngIf="item.favourite==1"  class="fa fa-heart item_wishlist"></i>
                                        <i *ngIf="!item.favourite"  class="fa fa-heart-o"></i>
                                    </span></h3>
                                    <!-- <h3>{{item.product.name}}</h3> -->
                                    <!-- <div class="fav_icon" (click)="addFav(item)">
                                        <i class="fa fa-heart-o"></i>
                                        <i class="fa fa-heart item_wishlist"></i>
                                    </div> -->
                                    <span><strong>Win:</strong>{{item.prize.name}}</span>
                                    <p>{{item.product.description}}</p>
                                </div>
                                <div class="campa_product_price">
                                    <p>BUY {{item.product.name}} For:<span>
                                            Inclusive of {{tax}}% VAT
                                        </span></p>
                                    <h4>${{item.product.price}}</h4>
                                </div>
                                <div class="camp_addcart">
                                    <div class="add_cartbtn" *ngIf="item.cartStatus == false && item.pendingItem==0 && item.cartRemoveStatus">
                                        <button mat-button>Removed</button>
                                    </div>
                                    <div class="camp_addquienty" *ngIf="item.cartStatus && item.pendingItem>=1">
                                        <button (click)="decrement(i, item)"><span>-</span></button>
                                        <mat-form-field [floatLabel]="'never'">
                                            <input matInput type="text" placeholder="1" readonly [(ngModel)]="item.pendingItem">
                                        </mat-form-field>
                                        <button [disabled]="item.pendingItem >= item.max_per_user" 
                                            (click)="increment(item)"><span>+</span></button>
                                    </div>
                                    <div class="add_cartbtn" (click)="goTocartpage(item)" *ngIf="!item.cartStatus && item.pendingItem==0 && !item.isCartAdded">
                                        <button mat-button>Add To Cart</button>
                                    </div>
                                    <div class="add_cartbtn" *ngIf="!item.cartStatus && item.pendingItem==1 && item.isCartAdded">
                                        <button mat-button>Added to cart</button>
                                    </div>
                                </div>
                                <!-----product progress bar-->
                                <div class="product_sold_progress">
                                    <div class="product_progress_icon">
                                        <div class="product_sold_status">
                                            <h4>{{item.inventory_sold}} / <span>{{item.inventory}}</span></h4>
                                            <p>sold out</p>
                                        </div>
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 107 121">
                                            <defs>
                                                <filter id="Subtraction_3" x="0" y="0" width="107" height="121"
                                                    filterUnits="userSpaceOnUse">
                                                    <feOffset dy="3" input="SourceAlpha" />
                                                    <feGaussianBlur stdDeviation="3" result="blur" />
                                                    <feFlood flood-opacity="0.161" />
                                                    <feComposite operator="in" in2="blur" />
                                                    <feComposite in="SourceGraphic" />
                                                </filter>
                                            </defs>                                 
                                            <g transform="matrix(1, 0, 0, 1, 0, 0)" filter="url(#Subtraction_3)">
                                                <path id="Subtraction_3-2" data-name="Subtraction 3"
                                                    d="M82,103H7a7.008,7.008,0,0,1-7-7V7A7.008,7.008,0,0,1,7,0H72A17,17,0,0,1,89,17V96A7.008,7.008,0,0,1,82,103ZM55.78,86.4a3.9,3.9,0,1,0,3.885,3.9A3.9,3.9,0,0,0,55.78,86.4Zm-22.492,0a3.9,3.9,0,1,0,3.884,3.9A3.9,3.9,0,0,0,33.288,86.4Zm1.074-5.033A2.906,2.906,0,0,0,32.929,82.7a5.272,5.272,0,0,0-.2,2.362H53.948a23.127,23.127,0,0,0,3.265-4.552,39.723,39.723,0,0,0,4.644-13.91c.476-3.224-.539-5.977-2.785-7.553-2.114-1.674-6.473-2.026-9.758-2.026a54.687,54.687,0,0,0-5.894.327,4.615,4.615,0,0,0-1.26,2.516,3.952,3.952,0,0,0,1.26,2.371H54.728a2.133,2.133,0,0,1,1.74,1.324c.609,1.811.566,2.142-.013,4.608-1.378,5.865-5.916,13.131-5.962,13.2ZM36.91,56.1a2.839,2.839,0,0,0-1.024.191A2.873,2.873,0,0,0,34.241,60L38.5,71.127a2.877,2.877,0,0,0,2.668,1.84,2.864,2.864,0,0,0,2.671-3.9L39.58,57.941A2.879,2.879,0,0,0,36.91,56.1ZM31.6,61.439a2.843,2.843,0,0,0-1.025.191,2.876,2.876,0,0,0-1.645,3.707l2.2,5.759a2.877,2.877,0,0,0,2.67,1.841,2.832,2.832,0,0,0,1.025-.192,2.874,2.874,0,0,0,1.645-3.705l-2.2-5.761A2.878,2.878,0,0,0,31.6,61.439Zm24.3-23.005a2.887,2.887,0,0,0-2.679,1.847L48.958,51.4a2.869,2.869,0,1,0,5.354,2.061l4.255-11.119a2.882,2.882,0,0,0-1.649-3.716A2.849,2.849,0,0,0,55.892,38.434Zm-15.71,0a2.842,2.842,0,0,0-1.024.191,2.875,2.875,0,0,0-1.645,3.705l4.26,11.129a2.877,2.877,0,0,0,2.669,1.84,2.84,2.84,0,0,0,1.024-.191,2.874,2.874,0,0,0,1.645-3.7L42.851,40.279A2.875,2.875,0,0,0,40.182,38.437Z"
                                                    transform="translate(9 6)" fill="#fff" />
                                            </g>
                                        </svg>
                                        <div class="product_progressbar">
                                            <div class="product_progress_height"></div>
                                            <mat-progress-bar mode="determinate" value="total"></mat-progress-bar>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                  
                </ul>
            </div>
        </div>
    </div>
    <!----start footer sec-->
    <app-footer></app-footer>
</section>