.fa.fa-heart.item_wishlist {
    color: #d00;
}
span.title_name_camp {
    font-size: 18px;
    font-weight: 600!important;
}

.fav_icon.capmaign_heart {
    position: relative;
    cursor: pointer;
}
.all_camproduct_text h3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.all_campaingns_product ul li {
    cursor: pointer;
}