.product_prize_detail {
    margin-bottom: 80px;
}
.camp_addcart.wishlist_item .add_cartbtn {
    margin: 0;
}
.fa.fa-heart.item_wishlist {
    color: #d00;
}
span.title_name_camp {
    font-size: 18px;
    font-weight: 600!important;
}
.fav_icon.capmaign_heart {
    position: relative;
    cursor: pointer;
}
.all_camproduct_text h3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.all_campaingns_product ul li {
    cursor: pointer;
}
.empty_cart figure{width: 289px;height: 176px;margin: 50px auto 0 auto;}
    .empty_cart figure img{width: 100%;height: 100%;object-fit: contain;}
    .empty_cart {
        width: 100%;
        margin: 0 auto;
        max-width: 400px;
    }
    .empty_cart h2{font-size: 30px;    font-weight: 700;
        color: #000000;margin: 20px 0 0;}
        .empty_cart p{font-weight: 400;
            color: #9B9B9B;font-size: 15px;margin: 15px 0 25px;}
            .add_cartbtn {
                margin-left: 0;}